{% extends 'base.html.twig' %}

{% block body %}
   {{parent()}}
    <!--BODY -->
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4 mt-4">NUEVO EVENTO</p>
            <h1 class="text-uppercase">Crea un nuevo Evento</h1>
        </div>
        <div class="row vh-90 justify-content-center align-align-items-center">
            <div class="col-auto p-5 bg-secondary">
                {{form_start (form)}}
                <div class="row g-3">
                    <div class="col-12">
                        <div class="form-floating">
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control bg-transparent'}}) }}
                            {{ form_label(form.nombre) }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            {{ form_widget(form.fecha, {'attr': {'class': 'form-control bg-transparent'}}) }}
                            {{ form_label(form.fecha) }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            {{ form_widget(form.juego, {'attr': {'class': 'form-control bg-transparent'}}) }}
                            {{ form_label(form.juego) }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            {{ form_row(form.guardar, { 'label': 'Guardar' }) }}
                        </div>
                    </div>
                </div>
                {{form_end (form)}} 
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block bg-secondary text-primary py-1 px-4">EVENTOS</p>
            </div>
            <div class="row g-4">
    {% for evento in eventos %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src='img/evento.jpg' alt="">
                        </div>
                        <div class="bg-secondary text-center p-4">
                            <h5 class="text-uppercase">{{evento.nombre}}</h5>
                            <span class="text-primary">Fecha {{evento.fecha}}</span>
                            <a class="btn btn-primary rounded-0 py-2 px-lg-4 d-none d-lg-block" href="gestionEventos/{{evento.id}}">INVITACIÓN</a>
                        </div>
                    </div>
                </div>
            
    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
    
