{% extends 'base.html.twig' %}

{% block javascripts %}
    {{parent()}}
     <script src="{{ asset('js/eventos.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{parent()}}
    
    
    <div class="container">
        <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="text-uppercase">Mis eventos</h1>
            </div>
            <div class="row g-4">
            {% if eventos == null %}
                <div class="col-lg-3 ol-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p>No Hay Eventos
                </div>
            {% endif %}
        {% for evento in eventos %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="evento team-item">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src='img/evento.jpg' alt="">
                        </div>
                        <div class="bg-secondary text-center p-4">
                            <h5 class="text-uppercase">{{evento.nombre}}</h5>
                            <span class="fecha text-primary">Fecha: {{evento.fecha}} - Juego: {{evento.juego}}</span>
                        </div>
                    </div>
                </div> 
        {% endfor %}
            </div>
        </div>
    </div>
   
{% endblock %}