{% extends 'base.html.twig' %}

{% block javascripts %}
    {{parent()}}
     <script src="{{ asset('js/gestionPosMesas.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/mesa.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{parent()}}

    <style>
        .contenedor{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .almacen{
            background-color: gray;
            height: 600px;
            width: 400px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow: scroll;
        }
        .sala{
            background-color: red;
            height: 600px;
            width: 900px;
        }
        .mesa{
            background-image: url("img/mesas.jpg");
        }
 
    </style>
{% endblock %}

{% block body %}
    {{parent()}}
     
    <label>Seleccione una fecha</label>
    <input type="text" id="desde">
    <div class="contenedor">
        <div class="almacen" id="almacen"></div>
        <button id="btn">+</button>
        <div class="sala" id="sala"></div>
    </div>
{% endblock %}