{% extends 'base.html.twig' %}

{% block javascripts %}
    {{parent()}}
     <script src="{{ asset('js/gestionPosMesas.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/mesa.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{parent()}}

    <style>
        
 
    </style>
{% endblock %}

{% block body %}
    {{parent()}}
    
    <div class="contenedor">
        <div class="almacen bg-secondary" id="almacen"></div>
        <div class="gestion">
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input class="form-control bg-transparent" type="text" id="desde">
                        <label>Seleccione una fecha</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <button class="btn btn-primary text-uppercase gestion-btn" id="boton">Nueva Mesa</button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="papelera" id="papelera">

                    </div>
                </div>
            </div>
        </div>
        <div class="sala" id="sala"></div>
    </div>
{% endblock %}